.cart-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
	justify-content: space-around;
	margin-top: 80px;
}

.img-contianer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.count-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.item-count {
	margin-right: 16px;
	font-size: 24px;
}

.item--delete-icon {
	font-size: 24px;
	margin-top: 16px;
}

.cart-item--img {
	width: 100px;
	height: auto;
}

.cart-empty {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.cart-empty--header {
	text-align: center;
	font-size: 46px;
}

.cart-empty--link {
	font-size: 32px;
	color: gray;
	margin-left: 36px;
}
