.item-detail-container {
	margin-top: 70px;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.item-detail--img {
	height: 450px;
	width: auto;
	max-width: 522px;
}

.item-details {
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 20px;
	height: 520px;
	width: 90vw;
	max-width: 920px;
	justify-content: flex-start;
}

.item-detail--content {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 25px;
}

.item-detail--title {
	font-size: 42px;
}

.item-detail--info {
	margin-top: 12px;
	font-size: 22px;
	color: gray;
}

.item-detail--description {
	color: black;
	margin-top: 12px;
	font-size: 26px;
}

.item-detail--count {
	color: black;
	position: relative;
	top: 20%;
}

@media screen and (max-width: 920px) {
	.item-detail-container {
		margin-top: 10px;
	}

	.item-detail--img {
		max-width: 50vw;
		width: 50vw;
		height: auto;
	}

	.item-details {
		flex-direction: column;
		height: auto;
		border: none;
		justify-content: center;
		align-items: center;
	}

	.item-detail--content {
		text-align: center;
	}

	.item-detail--count {
		position: static;
		margin-top: 25px;
	}
}
