.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90vw;
	margin-top: 15px;
	max-width: 565px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.title {
	font-size: 42px;
}

.redirect {
	color: gray;
	font-size: 32px;
}

@media screen and (max-width: 850px) {
	.container {
		flex-direction: column;
		justify-content: center;
		margin-top: 22px;
	}

	.redirect {
		margin-top: 20px;
	}
}
