.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	border-radius: 6px;
	width: 260px;
	padding: 20px;
}

.item--img {
	width: 200px;
	height: auto;
}

.item--title {
	font-weight: 400;
	font-size: 38px;
}

.item--price {
	font-weight: 300;
	font-size: 30px;
}

.item--details-btn {
	font-size: 34px;
	font-weight: 400;
	border: 1px solid black;
	padding: 6px;
	border-radius: 4px;
	background: transparent;
	margin-top: 10px;
}
