.form {
	width: 50%;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	flex-direction: column;
	height: 90vh;
	max-height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

label,
input {
	font-size: 24px;
	width: 300px;
}

input {
	height: 35px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	margin-top: 15px;
	font-size: 25px;
	width: 125px;
	margin-left: auto;
	margin-right: auto;
}

.mandatory {
	color: red;
}
