.navbar {
	width: 100vw;
	height: 11vh;
	min-height: 70px;
	background-color: #ffffff;
	padding: 10px 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.navbar--brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: black;
	text-decoration: none;
}

.navbar--title {
	font-size: 38px;
	margin-left: 10px;
}

.navbar--icon {
	font-size: 38px;
}

.navbar--categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navbar--category {
	margin-top: 6px;
	font-size: 24px;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	text-decoration: none;
	border: none;
	font-weight: 300;
	font-size: 32px;
	transition: all 0.4s ease;
}

.navbar--category:hover {
	transform: scale(1.1);
}

.navbar--category:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: black;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.navbar--category:hover:after {
	width: 100%;
}

.navbar--search-login {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar--search-icon {
	margin-top: 6px;
	font-size: 22px;
	margin-left: 5px;
	margin-right: 8px;
}

.navbar--login-btn {
	margin-top: 6px;
	font-size: 22px;
	margin-left: 7px;
	margin-right: 5px;
	border: none;
	background-color: #ffffff;
}

.navbar--bars {
	padding: 10px;
	background-color: #ffffff;
	border: none;
	display: none;
	font-size: 30px;
}

.navbar--close-btn {
	font-size: 30px;
	border: none;
	background-color: #ffffff;
	padding: 10px;
}

.navbar--cart-link {
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	.navbar--categories > .navbar--category {
		margin-top: 6px;
		font-size: 20px;
		margin-left: 6px;
		margin-right: 6px;
	}
}

@media screen and (max-width: 690px) {
	.navbar {
		padding-right: 0;
		padding-left: 0;
		position: relative;
	}

	.navbar--brand {
		position: absolute;
		top: 20%;
		left: 5%;
	}

	.brand-open {
		top: 5%;
	}

	.navbar--bars {
		display: block;
		margin-top: 5px;
		position: absolute;
		top: 14%;
		left: 82%;
	}

	.navbar--close-btn {
		display: block;
		position: absolute;
		top: 4%;
		left: 85%;
		color: gray;
	}

	.navbar--categories {
		display: none;
	}

	.navbar--menu {
		position: absolute;
		left: 40%;
		top: 25%;
		list-style: none;
	}

	.navbar--menu li {
		font-size: 34px;
		font-weight: 300;
		margin: 20px auto;
	}

	.navbar-bars {
		height: 45vh;
		min-height: 400px;
	}
}
