/* .item-list {
width: 85vw;
max-width: 1150px;
	margin: auto;
	margin-top: 500px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
} */

.item-list {
	width: 85vw;
	max-width: 1200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	row-gap: 22px;
	column-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}

.item-list--item {
	display: flex;
	align-items: center;
	justify-content: center;
}
